In [1]:
import pandas as pd
import plotly.express as px

In [2]:
url = 'http://api.open-notify.org/iss-now.json'

In [12]:
df = pd.read_json(url)

In [13]:
df

                    timestamp  message  iss_position
latitude  2021-05-23 17:42:15  success      -31.1130
longitude 2021-05-23 17:42:15  success      165.0875

In [14]:
df['latitude'] = df.loc['latitude', 'iss_position']
df['longitude'] = df.loc['longitude', 'iss_position']

df.reset_index(inplace=True)

In [15]:
df

       index           timestamp  message  iss_position  latitude  longitude
0   latitude 2021-05-23 17:42:15  success      -31.1130   -31.113   165.0875
1  longitude 2021-05-23 17:42:15  success      165.0875   -31.113   165.0875

In [16]:
df = df.drop(['index','message'], axis=1)

In [17]:
df

            timestamp  iss_position  latitude  longitude
0 2021-05-23 17:42:15      -31.1130   -31.113   165.0875
1 2021-05-23 17:42:15      165.0875   -31.113   165.0875